@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=IBM+Plex+Sans&family=Nunito+Sans:wght@700&family=Play&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Exo:wght@500&family=IBM+Plex+Sans&family=Nunito+Sans:wght@700&family=Play&display=swap");

.currentPositionCover {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 0% /*80%*/;
  border: 2px solid #09aeff;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transition: 1s;
  background-color: black;
}
.currentPositionCoverActive {
  display: flex;
  height: 60%;
}
.profileHeading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  border: 0px solid red;
  /* background-color: black; */
}
.headingName {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  border: 0px solid red;
}
.headingName a {
  color: white;
  font-size: 1.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 2rem;
  font-family: "Play", sans-serif;
}
.headingOptions {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 50%;
  border: 0px solid red;
}

.profileHeading a {
  /* margin-left: 5rem; */
  color: white;
  transition: 1s;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-family: "Play", sans-serif;
}
.profileHeading button {
  background-color: transparent;
  color: #09aeff;
  border-radius: 50px;
  padding: 0 1rem;
  transform: scale(0.8);
  border: 1px solid white;
  cursor: pointer;
  font-family: "Play", sans-serif;
  letter-spacing: 0.05rem;
}
.profileHeading button:hover {
  transform: scale(0.78);
}
.allProfile {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  border: 0px solid red;
  overflow-y: scroll;
  background-image: url(images/playerProfile.jpg);
  background-position: center;
  background-size: cover;
  background-position-y: -2.5rem;
  background-position-x: -7rem;
  background-repeat: repeat;
}
.allProfile::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 8px black;
  visibility: hidden;
}
.allProfile::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.allProfile::-webkit-scrollbar-thumb {
  background: white;
  width: 10px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid black;
}
.allProfile::-webkit-scrollbar-corner {
  background-color: black;
  width: 10px;
}
.profileList,
.profileListWinMatches {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  margin-bottom: 0.9rem;
  width: 75%;
  height: 25%;
  min-height: 75px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(225, 225, 225, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: 2s;
}
.profileListActive {
  display: none;
  transform: rotateY(180deg);
}
.profileListWinMatches {
  display: none;
  transform: rotateY(180deg);
}
.profileListWinMatchesActive {
  display: flex;
  transform: rotateY(0deg);
}

.profileList a,
.profileListWinMatches a {
  color: black;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-family: "Exo", sans-serif;
  /* font-family: "IBM Plex Sans", sans-serif; */
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}
