.body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
  border: 1px solid red;
  overflow: hidden;
}
.matchHeading {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 10%;
  border: 1px solid red;
}
.matchHeading a {
  color: white;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.matchContent {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80% /*20-80%*/;
  border: 0px solid red;
  overflow-y: scroll;
}
.matchContentAcive {
  height: 20%;
  transition: 0.5s;
}

.matchContent::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 8px black;
  visibility: hidden;
}
.matchContent::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.matchContent::-webkit-scrollbar-thumb {
  background: white;
  width: 10px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid black;
}
.matchContent::-webkit-scrollbar-corner {
  background-color: black;
  width: 10px;
}
.finalSquadCover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  border: 0px solid white;
}
.finalSquadCover a {
  color: #09aeff;
  font-size: 1.2rem;
  margin-top: -1rem;
  padding: 0.1rem 1rem;
  text-decoration: none;
  border: 2px solid #09aeff;
  border-radius: 20px;
  cursor: pointer;
}
.finalSquadCover a:hover {
  font-size: 1.5rem;
}

.matchBoxes {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 90%;
  height: 20%;
  min-height: 90px;
  border: 1px solid white;
  border-radius: 50px;
}
.matchBoxesHeading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50%; /*40*/
  border: 0px solid white;
  overflow-wrap: scroll;
}
.matchCategory {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border: 0px solid red;
}
.matchTeamName {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%; /*100*/
  border: 0px solid red;
}
.matchTeamName a,
.matchCategory a {
  color: white;
  margin-top: 0.5rem; /**/
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.matchBoxesBody {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%; /*60*/
  border: 0px solid white;
}
.matchStartBtn i {
  color: white;
  font-size: 1.3rem;
  padding-right: 1rem;
}
.matchStartBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0px solid white;
}
.matchStartBtn button {
  transform: scale(1.1);
  width: 3rem;
  cursor: pointer;
  margin-top: -0.5rem;
  border-radius: 20px;
  background-color: transparent;
  color: white;
}
.matchStartBtn #matchResult {
  color: white;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
