@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Exo:wght@500&family=IBM+Plex+Sans&family=Nunito+Sans:wght@700&family=Play&display=swap");

.body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  border: 0px solid white;
  overflow: hidden;
  background-image: url(images/SAVE_20211207_144712.jpg);
  background-position: center;
  background-size: cover;
  background-position-y: 0rem;
  background-position-x: 0rem;
  background-repeat: repeat;
}
.tournamentProfileCover {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 0px solid white;
}
.tournamentProfileHeading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  border: 0px solid white;
  border-radius: 50px;
}
.tournamentProfileHeading a {
  color: white;
  font-size: 1.9rem;
  padding: 0.2rem 1rem;
  word-spacing: 0.5rem;
  letter-spacing: 0.05rem;
  border: 1px solid white;
  background-color: rgba(226, 40, 233, 0.4);
  border-radius: 50px;
  font-family: "Play", sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
}
.tournamentProfileBody {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
  border: 0px solid white;
  overflow-y: scroll;
}
.profileHeading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  border: 1px solid red;
}
.tournamentProfileList {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 80%;
  min-height: 30%;
  height: min-content;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(10px);
}
.tournamentProfileBody::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 8px black;
  visibility: hidden;
}
.tournamentProfileBody::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.tournamentProfileBody::-webkit-scrollbar-thumb {
  background: white;
  width: 5px;
  height: 2px;
  border-radius: 50px;
  border: 2px solid black;
}
.tournamentProfileBody::-webkit-scrollbar-corner {
  background-color: black;
  width: 10px;
}
.tntProfItems {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 75%;
  font-weight: bold;
  height: auto;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgba(225, 225, 225, 0.1);
}
.tntProfItems a {
  display: block;
  color: black;
  font-size: 1.2rem;
  font-family: "Play", sans-serif;
  margin: 0.05rem 0.5rem;
  letter-spacing: 0.15rem;
  transform: translateX(1rem);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: 0px solid red;
}
#rankItems {
  position: absolute;
  display: flex;
  color: purple;
  text-shadow: 0 0 5px white;
  font-size: 3rem;
  font-weight: bold;
  transform: translateX(-5rem);
}
#speakingBtn {
  cursor: pointer;
  border: 1px solid white;
  background-color: rgba(45, 85, 205, 0.5);
  padding: 0rem 1rem;
}
#speakingBtn:hover {
  transform: scale(0.9);
}
#speakingBtn a {
  font-size: 1rem;
  color: white;
  font-family: "Play", sans-serif;
  cursor: pointer;
}
