@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Exo:wght@500&family=IBM+Plex+Sans&family=Nunito+Sans:wght@700&family=Play&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 0px solid red;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.mobileCover {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35%;
  height: 100%;
  border-left: 1px solid #09aeff;
  border-right: 1px solid #09aeff;
  background-image: url(images/ocean.jpeg);
  background-size: cover;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 80%;
  }
  .mobileCover {
    width: 100%;
    height: 100%;
  }
  .formElementHeading a {
    font-size: 1.5rem !important;
  }
  .headingBody a {
    font-size: 2.5rem !important;
  }
  .siteNameHeader a {
    font-size: 1.4rem !important;
  }
  .siteNameHeader #C {
    font-size: 3.8rem !important;
  }
  .matchStartBtn button {
    font-size: 1rem;
  }
  .currentMatchName a {
    font-size: 2.1rem !important;
  }
}
/* @media screen and (max-width: 1500px) {
  html {
    font-size: 95%;
  }
  .navigator ul li a .icon {
    font-size: 0.8rem !important;
  }
  .navigator ul li a .iconText {
    font-size: 1.1rem !important;
  }
  .navigator ul li.active a .iconText {
    transform: translateY(0.5rem) !important;
  }
  .navigator ul li.active a .icon {
    transform: translateY(-1.3rem) !important;
  }
  .currentMatchName a {
    font-size: 1.9rem !important;
  }
  .matchStartBtn,
  #matchResult {
    font-size: 1.3rem !important;
  }
  .matchTeamName a,
  .matchCategory a {
    font-size: 1.6rem !important;
  }
}

@media screen and (max-width: 1130px) {
  .mobileCover {
    width: 45%;
    height: 100%;
  }
  .matchHeading a {
    font-size: 1.7rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .mobileCover {
    width: 60%;
    height: 100%;
  }
}
@media screen and (max-width: 750px) {
  .mobileCover {
    width: 75%;
    height: 100%;
  }
  .matchStartBtn,
  #matchResult {
    font-size: 1.4rem !important;
  }
  .profileList a {
    font-size: 0.95rem !important;
    font-weight: bold;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 90%;
  }
  .mobileCover {
    width: 80%;
    height: 100%;
  }
  .profileList a {
    font-size: 1rem !important;
    font-weight: bold;
  }
  .matchTeamName a,
  .matchCategory a {
    font-size: 1.5rem !important;
  }
  .currentMatchName a {
    font-size: 1.8rem !important;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 80%;
  }
  .mobileCover {
    width: 100%;
    height: 100%;
  }
  .formElementHeading a {
    font-size: 1.5rem !important;
  }
  .headingBody a {
    font-size: 2.7rem !important;
  }
  .siteNameHeader a {
    font-size: 1.7rem !important;
  }
  .siteNameHeader #C {
    font-size: 4.5rem !important;
  }
  .currentMatchName a {
    font-size: 2.3rem !important;
  }

  .matchStartBtn,
  #matchResult {
    font-size: 1.5rem !important;
  }
  .matchTeamName a,
  .matchCategory a {
    font-size: 1.8rem !important;
  }
  .profileList a {
    font-size: 1.1rem !important;
    font-weight: bold;
  }

  .navigator ul li a .icon {
    font-size: 1.3rem !important;
  }
  .navigator ul li a .iconText {
    font-size: 1.2rem !important;
  }
  .navigator ul li.active a .iconText {
    transform: translateY(0.5rem) !important;
  }
  .navigator ul li.active a .icon {
    transform: translateY(-1.3rem) !important;
  }
}


@media screen and (max-width: 430px) {
  .matchTeamName a,
  .matchCategory a {
    font-size: 1.7rem !important;
  }
  .currentMatchName a {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 400px) {
  .matchTeamName a,
  .matchCategory a {
    font-size: 1.5rem !important;
  }
  .currentMatchName a {
    font-size: 1.8rem !important;
  }
}

@media screen and (max-width: 370px) {
  html {
    font-size: 70%;
  }
  .siteNameHeader a {
    font-size: 1.4rem !important;
  }
  .siteNameHeader #C {
    font-size: 3rem !important;
  }
  .siteNameHeader a {
    font-size: 1.4rem !important;
  }
  .siteNameHeader #C {
    font-size: 4rem !important;
  }
  .currentMatchName a {
    font-size: 1.8rem !important;
  }
  .matchStartBtn,
  #matchResult {
    font-size: 1.2rem !important;
  }
  .profileList a {
    font-size: 1.2rem !important;
    font-weight: bold;
  }
  .matchTeamName a,
  .matchCategory a {
    font-size: 1.3rem !important;
  }
} */
/*
@media screen and (max-width: 300px) {
  html {
    font-size: 50%;
  }
} */
